{% include "style1.css" %}

<!DOCTYPE html>
<html>
    <head>
        <title>CART01</title>
        
        <link href="style1.css" rel="stylesheet" type="text/css" />
              
<!--        <link href="static/bootstrap.min" rel="stylesheet" type="text/css"/>-->
    <nav>
        <a href='home.html'>Home</a> 
        <a  href='about.html'>About Us</a> 
        <a  href='contact.html'>Contact</a> 
        <a  href='blog.html'>Blog</a> 
    </nav>
    </head>
    <body>
        <div class="pattern">
            <h1>About Page</h1><hr>
            <h3> &#8358 </h3> 
<!--            naira symbol-->
        </div>
    </body>
</html>