{% include "style1.css" %}

<!DOCTYPE html>
<html>
    <head>
        <title>CART01</title>
        
        <link href="style1.css" rel="stylesheet" type="text/css" />
              
<!--        <link href="static/bootstrap.min" rel="stylesheet" type="text/css"/>-->
    <nav>
        <a href='templates/home.html'>Home</a> 
        <a  href='about.html'>About Us</a> 
        <a  href='contact.html'>Contact</a> 
        <a  href='blog.html'>Blog</a> 
    </nav>
    </head>
    <body>
        <h1 class="spin">Welcome to the Home Page</h1><b><hr>
        <h1 class="spin">This is a New Shopping App</h1><b><hr>
        <h2 class="spin">Use the NavBar above</h2><b><hr>
        
        <div id="mi">
            <h1 class="spin">Welcome to his Home Page</h1><b><hr>
            <h1 class="spin">Welcome to my Home Page</h1><b><hr>
            <h1 class="spin">Welcome to our Home Page</h1><b><hr>
            <h1 class="spin">Welcome to her Home Page</h1><b><hr>
        </div>
    </body>
</html>